
/* overridding bootstrap, hacky*/

.add-on{height: auto !important;}

h1 {color: #2980B9 !important;}

.btn-primary  {color: #2980B9; text-shadow:  0 0 0 !important; }

.btn:hover  *{text-decoration: none !important;}

.btn {background: none !important;}

i {text-shadow:  0 0 0 !important; }

span.left-sidebar {border: 2px double #2980B9 !important; margin-right: 5px !important;}
span.left-sidebar i {color: #2980B9 !important;}



.right-sidebar  {border: 2px double #2980B9 !important; margin-left: 5px !important;}

.fileupload-preview , textarea{border: 2px double #2980B9 !important;} 


/* placeholder text*/

textarea::-webkit-input-placeholder { /* WebKit browsers */
    color:    #2980B9;
}
textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #2980B9;
}
textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #2980B9;
}
textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #2980B9;
}