
/* overridding bootstrap, hacky*/

.add-on{height: auto !important;}

h1 {color: #27AE60 !important;}

/*
.btn-link i {color: #27AE60; text-shadow:  0 0 0 !important; background-color: #2C3E50 !important; }
.btn-link  {color: #27AE60; text-shadow:  0 0 0 !important; background-color: #2C3E50 !important; }

span.right-sidebar  span{background-color: #2C3E50 !important; }
span.right-sidebar  * { text-shadow:  0 0 0 !important}


span.left-sidebar {background-color: #2C3E50 !important; border: 2px solid #27AE60 !important;}

*/

.btn:hover  *{text-decoration: none !important;}

.btn {background: none !important;}

i {text-shadow:  0 0 0 !important; }

span.left-sidebar {background-color: #2C3E50 !important; border: 2px double #27AE60 !important; margin-right: 5px !important;}
span.left-sidebar i {color: #27AE60 !important;}



span.right-sidebar  {background-color: #2C3E50 !important; border: 2px double #27AE60 !important; margin-left: 5px !important;}


body {background-color: #34495E !important;}

.fileupload-preview , textarea{background-color: #2C3E50 !important; border: 2px double #27AE60 !important;} 
